<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Public/Css/english_thinkphp_login_css.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <!--<script src="../../assets/js/ie8-responsive-file-warning.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" id="subUser" action="/Home/User/loginIn">
        <h2 class="form-signin-heading">请登录</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="userName" name="userName" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="passWord" required>
        <div class="checkbox" style="display: none">
            <label>
                <input type="checkbox" value="remember-me" name="remember"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p><a  href="/Home/User/register" >注册</a></p>
    </form>

</div> <!-- /container -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/Public/Js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>


<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>用户登录</title>-->
    <!--<script type="text/javascript" src="http://img.qidian.com/js/jquery-2.1.1.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<p>用户登录</p>-->
<!--<form method="post" id="subUser" action="/Home/User/loginIn">-->
    <!--<p>用户名<input type="text"  name="userName" id="userName"/></p>-->
    <!--<p>密  码<input type="password"  name="passWord" id="passWord"/></p>-->
    <!--<p><button type="button" id="login" >登录</button></p>-->
    <!--<p><a  href="/Home/User/register" >注册</a></p>-->
<!--</form>-->

<!--</body>-->
<!--<script>-->
    <!--$("#login").on("click",function() {-->
        <!--if(!$("#userName").val()) {-->
            <!--alert("请输入用户名");-->
            <!--return ;-->
        <!--}-->
        <!--var pass = $("#passWord").val();-->
        <!--if(!pass) {-->
            <!--alert("请输入密码");-->
            <!--return ;-->
        <!--}-->
        <!--$("#subUser").submit();-->
    <!--});-->
<!--</script>-->
<!--</html>-->
