<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册用户</title>
    <script type="text/javascript" src="http://img.qidian.com/js/jquery-2.1.1.min.js"></script>
</head>
<body>
<p>注册用户</p>
<form method="post" id="subUser" action="/Home/User/saveUser">
    <p><input type="text"  name="useName" id="userName"/></p>
    <p><input type="password"  name="passWord" id="passWord"/></p>
    <p><input type="password"  name="passWord" id="passWordSure"/></p>
    <p><input type="text"  name="email" id="email"/></p>
    <p><input type="text"  name="phone" id="phone"/></p>
    <p><a class="button" id="submit" >提交</a></p>
</form>

</body>
<script>
    $("#submit").on("click",function() {
        if(!$("#userName").val()) {
            alert("请输入用户名");
        }
        var pass = $("#passWord").val(),
                pass2 = $("#passWordSure").val();
        if(!pass||!pass2||pass!=pass2) {
            alert("密码异常");
        }
        $("#subUser").submit();
    });
</script>
</html>